body {
    background-color: rgb(50, 78, 52);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}

.gameSquare {
    align-content: center;
    height: 100px;
    width: 100px;
}

.gameSquare:hover {
    cursor: pointer;
    background-color: rgb(72, 109, 75);
}

.row0, .row1 {
    border-bottom: solid 1px rgb(2, 162, 255);
}

.col0, .col1 {
    border-right: solid 1px rgb(2, 162, 255);
}